<% content_for :title, "All about #{@profile.first_name}" %>

<h4>Name:</h4>
<%= "#{@profile.first_name} #{@profile.last_name}" %></li>
<h4>Email:</h4>
<%= @profile.user.email %>
<h4>Telephone:</h4>
<%= @profile.telephone %>
<h4>Address:</h4>
<%= @profile.address %>

<br>
<% if current_user == @user %>
  <%= link_to 'Edit your profile', edit_user_profile_path(current_user), class: "btn btn-primary" %>
<% end %>
