<%= simple_form_for [:customer, order.menu, order] do |f| %>
  <% order.menu.menu_items.each do |menu_item| %>
    <%= f.simple_fields_for :order_items, oi do |m| %>
        <p>
        <%= menu_item.name %>
        <%= m.input :menu_item_id, as: :hidden, input_html: { value: menu_item.id } %>
        <%= m.input :quantity, input_html: { class: 'input-medium' } %>
        </p>
        <%= menu_item.description %>
      <% end %>
    <% end %>
  <%= f.submit %>
<% end %>
