<% present menu_item do |menu_item_presenter| %>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default menu-item-partial">
        <div class="panel-heading">
          <h3 class="panel-title"><%= menu_item.name %></h3>
          <%= menu_item_presenter.categories %>
        </div>
        <div class="panel-body">
          <p><%= menu_item.description %></p>
          <ul>
            <%= menu_item_presenter.ingredients %>
          </ul>
        </div>
        <% if current_chef?(menu_item) %>
          <div class="panel-footer links">
            <p><%= link_to "Edit", edit_menu_item_path(menu_item), class: "link" %> 
               <%= link_to "Destroy", menu_item_path(menu_item), method: :delete, data:{confirm: "Are you sure? cannot be undone." }, class: "link" %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>