<div class="row">
  <div class="col-md-12">
    <h4>Invite Customer</h4>
    <%= form_tag send_invite_path, method: "GET", class: "form-inline" do |f| %>
      <div class="form-group">
        <%= label_tag :name %>
        <%= text_field_tag :name, nil, placeholder: "customer name (optional)", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :email %>
        <%= text_field_tag :email, nil, placeholder: "customer email", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= submit_tag "Send Invite", class: 'btn btn-primary' %>
      </div>
    <% end %>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render partial: "top_customers_table", locals: { customers: @top_ten_customers } %>
  </div>
  <div class="col-md-6">
    <%= render partial: "shared/top_menu_items_table", locals: { menu_items: @top_ten_menu_items } %>
  </div>
</div>
