<div class="row">
  <div class="col-md-12">
    <%= form_tag nil, class: "form-inline"  do |f| %>
      <div class="form-group">
        <%= label_tag :name, "Find more customers" %>
        <%= text_field_tag :name, nil, placeholder: "customer email", class: "form-control" %>
      </div>
      <%= submit_tag "Send Invite", class: 'btn btn-primary' %>
    <% end %>
    <hr>
  </div>
  <div class="col-md-6">
    <%= render partial: "top_customers_table", locals: { customers: @top_ten_customers } %>
  </div>
  <div class="col-md-6">
    <h4>Your most popular menu items</h4>
    <table class="table table-striped">
      <tr>
        <th>
          Item Name
        </th>
        <th>
          Total Quantity Sold
        </th>
      </tr> 
      <% @top_ten_menu_items.each do |menu_item| %>
        <tr>
          <td>
            <%= menu_item.name %>
          </td>
          <td>
            <%= menu_item.order_items_count %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
