<tr>
  <td width="600" valign="top">
    <p><%= @chef.profile.first_name %>,</p>
  </td>
</tr>
<tr>
  <td width="600" valign="top">
    <p>
      You've just received an order for <%= pluralize(@order.total_items, "meal") %> from <%= @customer.name %>. This order should be completed by <%= @order.menu.completion_date.strftime("%A, %B %d")%>.
    </p>
  </td>
</tr>
<tr>
  <td width="600" valign="top">
    <p>
      View the full order details <%= link_to "here", user_order_url(@customer, @order) %>.
    </p>
  </td>
</tr>
<tr>
  <td width="600" valign="top">
    <p>
      Thanks again for using Yes, Chef! Have a delicious day.
    </p>
  </td>
</tr>
