<!DOCTYPE html>
<html>
  <head>
    <title>Yes, Chef! | <% if content_for :title %><%= yield(:title) %><% else %>Ordering Made Better<% end %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="container">
      <%= render partial: 'shared/navbar' %>
      <% if content_for :title %>
        <div class="row">
          <div class="col-sm-10 col-xs-12 pull-right">
            <h2><%= yield(:title) %></h2>
            <hr>
          </div>
        </div>
      <% end %>
      <div class="row">
        <% if signed_in? && current_user.role == 'chef' %>
          <%= render partial: 'shared/chef_nav' %>
          <div class="col-sm-10">
        <% elsif signed_in? && current_user.role == 'customer' %>
          <%= render partial: 'shared/customer_nav' %>
          <div class="col-sm-10">
        <% else %>
          <div class="col-xs-12">
        <% end %>
          <%= render partial: 'shared/flash' %>
          <%= yield %>
        </div><!-- col -->
      </div><!-- row -->
    </main>
    <footer>
    </footer>
  </body>
</html>
