<!DOCTYPE html>
<html>
  <head>
    <title>YesChef</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="container">
      <%= render partial: 'shared/navbar' %>
      <div class="row">
        <% if signed_in? && current_user.role == 'chef' %>
          <%= render partial: 'shared/chef_nav' %>
          <div class="col-sm-10">
        <% else %>
          <div class="col-xs-12">
        <% end %>
          <%= render partial: 'shared/flash' %>
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
