<!DOCTYPE html>
<html>
  <head>
    <title>YesChef</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="container">
      <%= render partial: 'shared/flash' %>
      <%= yield %>
    </main>
  </body>
</html>
